.login-menu{
    display: flex;
    text-decoration:none;
    list-style: none;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-color: orange;
    

    
}
.login-menu li{
    margin-left: 25px;
    list-style: none;
}
.login-menu a{
    text-decoration: none;

}

.heading{
    color: orange;
    text-align: center;
    margin-top: 50px;
}