
.wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
}
.input{
    height: 30px;
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 90px;

}
.btn{
    margin-left: 42%;
    padding: 10px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 10px;

}